
<div class="form-container">
<h1>Sign Up</h1>

<div class="form-box">
  <%= form_for :user, url: '/users' do |f| %>

    <p>Username: <%= f.text_field :username %></p>
    <p>Email: <%= f.text_field :email %></p>
    <p>Password: <%= f.password_field :password %></p>
    <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
    <p><%= f.submit "Submit" %></p>

  <% end %>
</div>
</div>