<!-- best page ever -->
<p>
  <strong><%= @game.name %></strong>
</p>

<div class="game_image"><%= image_tag @game.image_url %></div>


<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p><strong>Players:</strong>
  Min Num of Players: <%= @game.minPlayers %>
  Max Num of Players: <%= @game.maxPlayers %>
</p>


<%= link_to 'Back', users_path %>