<!-- best page ever -->
<p>
  <strong><%= @game.name %></strong>
</p>

<% if current_user %>
  <% if current_user.games.include?(@game)%>
    
  <% else %>
    <%= button_to "Add game to my library", class: "button"%>
  <% end %>
<% end %>

<div class="game_image"><%= image_tag @game.image %></div>


<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p><strong>Players:</strong>
  Min Num of Players: <%= @game.minPlayers %>
  Max Num of Players: <%= @game.maxPlayers %>
</p>


<%= link_to 'Back', users_path %>
