<!-- best page ever -->
<div class="show-page">
<p>
  <strong class="game-header"><%= @game.name %></strong>
</p>

<div class="game_image"><%= image_tag @game.image %></div>


<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p><strong>Players:</strong>
  Min Num of Players: <%= @game.minPlayers %>
  Max Num of Players: <%= @game.maxPlayers %>
</p>

<div class="review-container">
  <p>Average rating: <%= @game.average_rating %> </p>

  <strong>Review this Game:</strong>
  <%= form_for [ @game, @review ] do |f| %>
    <p>
    <label>Comment:</label><br>
      <%= f.text_area :body, :placeholder => "What did you think about #{@game.name}?" %>
    </p>
    <p>
     <label>Rating:</label><br>
      <%= f.text_field :rating, :placeholder => "Enter a number (1-5)" %>
    </p>
    <p>
      <%= f.submit class: "button" %>
    </p>
  <% end %>

  <p><strong>Reviews of <%= @game.name %></strong></p>
  <div class="review-list">
      <% @reviews.each do |review| %>
        <div class="review-list-item ">
          <p>Rating: <%= review.rating %></p>
          <p>Review: <%= review.body %></p>
          <p><span>-<%= review.reviewer.username %></span></p>
        </div>
      <% end %>
  </div>
</div>

<div class="back"><%= link_to 'Back', users_path %></strong>
</div>